In [36]:
import datetime
import numpy as np
import pandas as pd

from sklearn.linear_model import LinearRegression

In [41]:
n_samples=100
time = np.random.choice(48, n_samples)+1
speed = np.random.choice(160, n_samples)+50
age_driver = np.random.choice(85, n_samples)+18
driver_experience = np.random.choice(67, n_samples)+1
number_of_passangers =  np.random.choice(4, n_samples)+0
distance = time*speed*0.9

data = pd.DataFrame({'time': time, 'speed': speed, 'age_driver': age_driver, 'driver_experience': driver_experience, 'number_of_passangers': number_of_passangers, 'distance': distance})
data.head(5)

   time  speed  age_driver  driver_experience  number_of_passangers  distance
0    14     91          78                 10                     2    1146.6
1    27    183         102                 33                     2    4446.9
2     3    146          53                 44                     2     394.2
3    37     59          54                 59                     3    1964.7
4    28    120          95                 61                     1    3024.0

In [47]:
from sklearn.metrics import mean_absolute_error

X=data[['time', 'speed', 'age_driver', 'driver_experience', 'number_of_passangers']]
Y=data['distance']
reg=LinearRegression().fit(X,Y)
print('Weights: {}'.format(reg.coef_))
print('Bias: {}'.format(reg.intercept_))

pred_values=reg.predict(data[['time', 'speed', 'age_driver', 'driver_experience', 'number_of_passangers']])
print('Error:{}'. format (mean_absolute_error(pred_values,Y)))

Weights: [106.13185342  19.62534979   1.0051759   -2.78956265  -5.66113022]
Bias: -2346.6752382915497
Error:366.47301466429576

In [49]:
X=data[['time', 'speed']]
Y=data['distance']
reg=LinearRegression().fit(X,Y)
print('Weights: {}'.format(reg.coef_))
print('Bias: {}'.format(reg.intercept_))

pred_values=reg.predict(data[['time', 'speed']])
print('Error:{}'. format (mean_absolute_error(pred_values,Y)))

Weights: [106.21112945  19.70168221]
Bias: -2395.2346862444115
Error:366.06988525689593

In [52]:
data['mult'] = data['time']*data['speed']  
data.head()

,time,speed,age_driver,driver_experience,number_of_passangers,distance,mult
0,14,91,78,10,2,1146.6,1274
1,27,183,102,33,2,4446.9,4941
2,3,146,53,44,2,394.2,438
3,37,59,54,59,3,1964.7,2183
4,28,120,95,61,1,3024.0,3360

In [53]:
X=data[['mult']]
Y=data['distance']
reg=LinearRegression().fit(X,Y)
print('Weights: {}'.format(reg.coef_))
print('Bias: {}'.format(reg.intercept_))

pred_values=reg.predict(data[['mult']])
print('Error:{}'. format (mean_absolute_error(pred_values,Y)))

Weights: [0.9]
Bias: 1.8189894035458565e-12
Error:9.36211108637508e-13