In [ ]:
Задание 1
Напишите функцию date_range, которая возвращает список дней между датами 
start_date и end_date. Даты должны вводиться в формате YYYY-MM-DD.

In [24]:
from datetime import timedelta
start_date = input('Введите дату начала в формате YYYY-MM-DD ')
end_date = input('Введите дату окончания в формате YYYY-MM-DD ')
start_date_dt = datetime.strptime(start_date, '%Y-%m-%d')
end_date_dt = datetime.strptime(end_date, '%Y-%m-%d')
current_dt = start_date_dt

while current_dt <= end_date_dt:
    print(current_dt.strftime('%Y-%m-%d'))
    
    current_dt += timedelta(days=1)

Введите дату начала в формате YYYY-MM-DD 2016-05-06
Введите дату окончания в формате YYYY-MM-DD 2016-04-05

In [6]:
#Задание 2
#Дополните функцию из первого задания проверкой на корректность дат. В случае неверного формата или если 
#start_date > end_date должен возвращаться пустой список.

In [34]:
import traceback

try:
    start_date = input('Введите дату начала в формате YYYY-MM-DD ')
    end_date = input('Введите дату окончания в формате YYYY-MM-DD ')
    start_date_dt = datetime.strptime(start_date, '%Y-%m-%d')
    end_date_dt = datetime.strptime(end_date, '%Y-%m-%d')
    current_dt = start_date_dt
    if start_date < end_date:
        while current_dt <= end_date_dt:
            print(current_dt.strftime('%Y-%m-%d'))
    
            current_dt += timedelta(days=1)
    else: 
        print(traceback.print_exc())
except Exception:
    print(traceback.print_exc())

Введите дату начала в формате YYYY-MM-DD 2016-05-04
Введите дату окончания в формате YYYY-MM-DD 2016-02-03
None

NoneType: None

In [ ]:
Задание 3
Дан поток дат в формате YYYY-MM-DD, в которых встречаются некорректные значения:
stream = [‘2018-04-02’, ‘2018-02-29’, ‘2018-19-02’]
Напишите функцию, которая проверяет эти даты на корректность. 
Т. е. для каждой даты возвращает True (дата корректна) или False (некорректная дата).

In [4]:
from datetime import datetime
import traceback
stream = ['2018-04-02', '2018-02-29', '2018-19-02']
for i in stream:
    try:
        stream_datetime=datetime.strptime (i, '%Y-%m-%d')
        print (True)
    except Exception:
        print (False)

True
False
False

In [ ]:
Задание 5
В последнем примере поиска по словарю мы использовали 3 столбца. 
Напишите функцию, которая формирует словарь для поиска по n столбцам.

In [6]:
import pandas as pd
stats = pd.read_csv(r'C:\Users\af.sabirova\Desktop\pyda\9_lek\stats.csv', names=['day_number', 'user_id', 'category', 'cost'])
stats.head()

   day_number  user_id  category   cost
0          14    26376         3  13301
1          12     7316         2  19329
2          28     2803         2  87381
3          25    22022         2  94036
4          20    13883         5  50722

In [2]:
import traceback
stats_dict = {}
n = input('Введите количество столбцов ')
a= input('Введите значение первого столбца ')
b= input('Введите значение второго столбца ')
c= input('Введите значение третьего столбца ')
line_to_find = (a, b, c)
try:
    def search (line_to_find):
        with open(r'C:\Users\af.sabirova\Desktop\pyda\9_lek\stats.csv') as f:
            for line in f:
                line = line.strip().split(',')
                stats_dict[tuple(line[:3])] = line[3]
            cost=stats_dict[line_to_find]
            print(cost)
    search(line_to_find)
except Exception:
    print(traceback.print_exc())

Введите количество столбцов 3
Введите значение первого столбца 14
Введите значение второго столбца 26376
Введите значение третьего столбца 3
13301