In [ ]:
Задание 1
Напишите функцию date_range, которая возвращает список дней между датами 
start_date и end_date. Даты должны вводиться в формате YYYY-MM-DD.

In [1]:
from datetime import datetime

In [2]:
start_date = '2018-01-01'
end_date = '2018-01-07'
start_date_datetime = datetime.strptime(start_date, '%Y-%m-%d')
end_date_datetime = datetime.strptime(end_date, '%Y-%m-%d')
date_range = end_date_datetime - start_date_datetime 
date_range

datetime.timedelta(days=6)

In [6]:
#Задание 2
#Дополните функцию из первого задания проверкой на корректность дат. В случае неверного формата или если 
#start_date > end_date должен возвращаться пустой список.

In [3]:
import traceback

try:
    start_date = '2018-01-01'
    end_date = '2018-01-07'
    start_date_datetime = datetime.strptime(start_date, '%Y-%m-%d')
    end_date_datetime = datetime.strptime(end_date, '%Y-%m-%d')
    if start_date < end_date:
        date_range = end_date_datetime - start_date_datetime 
        print (date_range)
except Exception:
    print(traceback.print_exc())
    
print('Проехали')

6 days, 0:00:00
Проехали

In [ ]:
Задание 3
Дан поток дат в формате YYYY-MM-DD, в которых встречаются некорректные значения:
stream = [‘2018-04-02’, ‘2018-02-29’, ‘2018-19-02’]
Напишите функцию, которая проверяет эти даты на корректность. 
Т. е. для каждой даты возвращает True (дата корректна) или False (некорректная дата).

In [4]:
from datetime import datetime
import traceback
stream = ['2018-04-02', '2018-02-29', '2018-19-02']
for i in stream:
    try:
        stream_datetime=datetime.strptime (i, '%Y-%m-%d')
        print (True)
    except Exception:
        print (False)

True
False
False

In [ ]:
Задание 5
В последнем примере поиска по словарю мы использовали 3 столбца. 
Напишите функцию, которая формирует словарь для поиска по n столбцам.

In [6]:
import pandas as pd
stats = pd.read_csv(r'C:\Users\af.sabirova\Desktop\pyda\9_lek\stats.csv', names=['day_number', 'user_id', 'category', 'cost'])
stats.head()

   day_number  user_id  category   cost
0          14    26376         3  13301
1          12     7316         2  19329
2          28     2803         2  87381
3          25    22022         2  94036
4          20    13883         5  50722

In [7]:
stats_dict = {}
line_to_find = ('20', '20552', '3')
def search (line_to_find):
    n = input('Введите количество столбцов ')
    with open(r'C:\Users\af.sabirova\Desktop\pyda\9_lek\stats.csv') as f:
        for line in f:
            line = line.strip().split(',')
            stats_dict[tuple(line[:3])] = line[3]
        cost=stats_dict[line_to_find]
        print(cost)
search(line_to_find)

Введите количество столбцов 1
39156